:root{
    --background:#F0F8FF;
    --primary-color:#0047AB;
    --black-text:#1C1C1C;
    --place-holder:#667085;
    --border-color:#99B5DD;
    --secondary-color:#595970;
}
.sign-up-page,.login-footer{
    background-color: var(--background) !important;
}
.navbar{
    background-color:#D4EBFF !important;
    box-shadow: 3px 0px 12px var(--primary-color) !important;
}
.navbar .Logo-image{
    font-size: 24px;
    font-weight: 800;
    color: var(--primary-color) !important;
}
.navbar .btn-section .btn-nav{
    background-color: var(--background) !important;
    box-shadow: 0 0 8px #6691CD;
    border-radius: 12px;
    padding: 7px;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
}
.form h2{
    color: var(--primary-color);
    font-weight: 500 !important;
    font-size: 48px;
    line-height: 72px;
}
form label{
    color: var(--black-text) !important;
    font-weight: 500;
    font-size: 18px;
}

.form .form-control,.select-sec{
    background-color:var(--background) !important;
    border-radius: 12px;
    border: 1.04px solid var(--border-color) !important;
    box-shadow:0 0 2.07px #101828 !important;
    padding: 12.42px 16px !important;
}
.phone-input {
    border: 1px solid transparent; /* بدون حدود افتراضيًا */
    transition: border 0.3s ease-in-out;
}
.phone-input:focus {
  border-radius: 5px;
}
  
.check-box .checkboxInput{
   background-color:var(--background) !important;
   border-radius: 20px !important;
   border: 1.04px solid #D0D5DD !important;
   box-shadow: none;
   width: 20px;
   height: 20px;
}
::placeholder{
    color:var(--place-holder) !important;
}

form button{
    background-color: var(--primary-color) !important;
    border-radius: 12px !important;
    padding: 12.42px 20.71px;
    font-size: 20px !important;
    font-weight: 600 !important;
}
.text-muted,.checkbox-container span{
    color: var(--black-text) !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
}
.checkbox-container span{
    font-size: 16px !important;
    color: var(--secondary-color) !important;
}
.goTo-signIn,.forgot-password-container{
    color: var(--primary-color);
    font-size:20px;
    font-weight: 600;
    line-height:20px
}
.forgot-password-container{
    font-size: 18px !important;
    font-weight: 500;
}
.forgot-password,.landing-title,.login-footer,.login-nav{
    color: var(--primary-color);
}

  /* أيقونة العين داخل الـ input */
.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.signup-img img{
    width: 522.4px !important;
    height:552.55px !important;
    margin-left: 20px;
}

  
.btn-social:focus, .btn-social:active {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

/* تغيير لون وخلفية زر الـ collapse->في الشاشات الصغيره */
.custom-toggler {
    border: none; /* إزالة الإطار */
    background-color:#0047abca; 
    padding: 8px 12px;
    border-radius: 10px; 
    color:transparent;
}
.custom-toggler .navbar-toggler-icon {
    width: 24px;
    height: 24px;
}

  
 
/*LandingPage Style*/
.landing_container {
    background: radial-gradient(84.69% 157.97% at 73.13% 94.62%, #0047AB 0%, #F0F8FF 41.76%) !important;
    height:100vh;
    padding-top: 50px;
}

 .btn-auth{
    padding:10px 30px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    border-radius: 12px;
}
.register-nav{
    background-color: var(--primary-color) !important;
}

.footer-auth a{
    width: 200px;
    padding: 8px 40px !important;
    font-size: 20px;
    font-weight:500;
    line-height: 30px;
}
  
.login-footer,.login-footer:hover,.login-nav,.login-nav:hover{
    border:1px solid var(--primary-color);
}


/* button:hover,a:hover{    
    background: linear-gradient(to right,#0D2C5C,#174385) !important;
    color: #fff !important;
} */